body {
  font-family: "Poppins", sans-serif;
  background: #3aa5d9;
}

h1,
h2,
h3,
h4,
h6 {
  text-align: center;
}

h2,
h3,
h4,
h6 {
  padding: 0;
  margin: 0;
}

h1 {
  color: white;
  font-size: 40px;
  padding: 30px;
}

h2 {
  color: #edf4f7;
  font-size: 36px;
}

h4 {
  color: grey;
  font-size: 18px;
  margin-bottom: 18px;
}

h4:first-letter {
  text-transform: uppercase;
}

h6 {
  font-size: 18px;
  color: gray;
  top: 44px;
  line-height: 30px;
}

a {
  text-decoration: none;
  font-weight: none;
  color: blue;
}

.active,
.active:hover {
  color: black;
  cursor: default;
}

.form-control {
  border-color: blue;
}

.btn-primary {
  color: white;
  background: blue;
  font-size: 14px;
}

.btn-danger {
  color: white;
  background: red;
  font-size: 14px;
}

.units {
  position: relative;
  font-size: 14px;
  top: -11px;
  color: red;
  font-weight: 600;
  text-decoration: none;
}

.temperature {
  font-size: 32px;
  color: red;
  line-height: 32px;
}

.main {
  padding: 34px;
  border: 1px solid gray;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(149, 219, 254) 0%,
    rgb(7, 134, 197) 90.1%
  );
  max-width: 95%;
  margin: 0 auto;
  display: block;
}

.city {
  border: 2px solid blue;
  border-radius: 40px;
  width: 85%;
  display: block;
  margin: 0 auto;
  padding: 8px;
  font-size: 14px;
}

.border {
  border: 2px solid gray;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.day {
  color: black;
  font-size: 18px;
  display: block;
  margin: 0 auto;
}

.high {
  color: red;
  padding: 10px;
  font-size: 13px;
}

.low {
  color: blue;
  padding: 10px;
  font-size: 13px;
}

.bottom {
  margin-top: 24px;
}
