body {
  font-family: "Poppins", sans-serif;
  background: #0887c5;
}

a {
  color: white;
}

a:hover {
  color: #226383;
}

h1,
h2,
h3,
h4,
h6 {
  text-align: center;
}

h2,
h3,
h4,
h6 {
  padding: 0;
  margin: 0;
}

h1 {
  color: #8ed9ff;
  font-size: 24px;
  padding: 15px;
}

h2 {
  color: white;
  font-size: 45px;
}
h4 {
  color: white;
  font-size: 18px;
  margin-bottom: 18px;
}

h6 {
  font-size: 15px;
  font-style: italic;
  color: #226383;
}

.around {
  border: 1px solid #226383;
  border-radius: 5px;
  box-shadow: 3px 4px 4px #226383;
  max-width: 88px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(149, 219, 254) 0%,
    rgb(7, 134, 197) 90.1%
  );
  display: block;
  margin: 0 auto;
}

.around:hover {
  background: #2096cf;
  color: white;
}

.border {
  background: #3aa5d9;
  border: 2px solid gray;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  box-shadow: 3px 4px 4px #226383;
}

.border:hover {
  background: #0887c5;
}

.bottom {
  margin-top: 24px;
  color: #8ed9ff;
}

.city-icon {
  padding: 25px;
}

.col-2,
.col-3 {
  margin: 0 auto;
  display: block;
}

.conditions {
  color: white;
  font-size: 18px;
  line-height: 32px;
}

.current {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(149, 219, 254) 0%,
    rgb(7, 134, 197) 90.1%
  );
  display: block;
  margin: 0 auto;
  border: 1px solid #0887c5;
  border-radius: 14px;
  box-shadow: 3px 4px 4px #226383;
  padding: 12px;
  max-width: 300px;
}

.d-grid gap-2 d-md-block {
  display: block;
  margin: 0 auto;
}

.daily-forecast {
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.day {
  padding: 5px;
  color: #c24829;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin: 0 auto;
  display: block;
}

.enter {
  font-size: 14px;
}

.feels {
  color: #226383;
  font-size: 12px;
}

.five-day {
  display: block;
  margin: 0 auto;
  max-width: 515px;
}

.glass {
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  background: #8ed9ff;

  font-size: 12px;
  text-align: center;
  padding: 10px;
}

.glass:hover {
  background: white;
}

.high-low {
  color: white;
  padding: 9px;
  font-size: 12px;
  text-align: center;
}

.humidity,
.wind {
  color: #226383;
  font-size: 15px;
}

.location {
  color: white;
  background: #226383;

  border: 1px solid white;
  border-radius: 4px;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}

.location:hover {
  background: white;
  color: #226383;
}

.main {
  max-width: 95%;
  margin: 0 auto;
  display: block;
  padding: 15px;
}

.range {
  display: block;
  margin: 0 auto;
}

.search {
  padding: 5px;
  margin: 0 auto;
  display: block;
}

.temperature {
  font-size: 40px;
  color: #c24829;
  padding: 3px;
}
